/* -------- CONTAINER -------- */
.perfil-page {
  max-width: 650px;
  margin: 60px auto;
  padding: 35px 40px;
  background: #ffffff;
  border-radius: 18px;
  box-shadow: 0 12px 25px rgba(0,0,0,0.12);
  border: 1px solid #e8e5e0;
  font-family: 'Merriweather', serif;
}

/* -------- TÍTULO -------- */
.perfil-page h2 {
  text-align: center;
  font-size: 26px;
  margin-bottom: 25px;
  color: #3c2b1a;
}

/* -------- INPUTS -------- */
.dados input {
  width: 100%;
  height: 46px;
  margin-bottom: 14px;
  padding: 10px 12px;
  border-radius: 10px;
  border: 1px solid #c9c4bc;
  font-size: 15px;
  background: #faf8f5;
  transition: 0.15s ease;
}

.dados input:focus {
  border-color: #5b3716;
  box-shadow: 0 0 0 3px rgba(91,55,22,0.15);
  outline: none;
  background: #fff;
}

/* -------- BOTÃO SALVAR -------- */
button {
  background: #5b3716;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  transition: 0.2s ease;
}

button:hover {
  background: #472a12;
}

/* -------- ÁREA DE SENHA -------- */
.senha-box {
  position: relative;
  width: 70%;
  max-width: 350px;
}

.senha-box input {
  width: 100%;
  height: 38px;
  padding-right: 40px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.btn-ver-senha {
  position: absolute;
  right: 8px;
  top: 50%;
  background: none !important;
  border: none !important;
  cursor: pointer;
  opacity: 1 !important;
  visibility: visible !important;
  z-index: 10;
  right: 10px;
  top: calc(50% - 30px);
}

.btn-ver-senha img {
  width: 35px;
  height: 35px;
}

/* -------- LISTA DE OBRAS -------- */
.minhas-obras {
  margin-top: 25px;
}

.minhas-obras h3 {
  font-size: 20px;
  margin-bottom: 12px;
  color: #3c2b1a;
}

/* Cada obra */
.obra-item {
  background: #faf8f5;
  border: 1px solid #e2ddd7;
  padding: 12px 15px;
  border-radius: 10px;
  margin-bottom: 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 15px;
  color: #3c2b1a;
}

/* -------- BOTÃO EXCLUIR CONTA -------- */
.btn-danger {
  background: #c62828;
  width: 100%;
  padding: 12px;
  margin-top: 30px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

.btn-danger:hover {
  background: #a82020;
}

.sucesso-msg {
  color: #0f0;
  margin-bottom: 10px;
}

.erro-msg {
  color: #f55;
  margin-bottom: 10px;
}
